/* Estilo padrão para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Largura máxima para a classe .container e centraliza horizontalmente */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Fonte do documento usando o atributo Body*/
body {
    font-family: 'Roboto', sans-serif;
}

/* Propriedades do cabeçalho */
header {
    font-family: 'Archivo', sans-serif;
    padding: 1.1rem 0;
    background-color: #182c61;
}

/* Tamanho e a margem do logo */
#logo img {
    height: 4.8rem;
    margin-right: 1rem;
}

/* Transição de escala quando o usuário passa o mouse sobre o logo */
#logo:hover {
    transform: scale(1.05);
}

/* Cor do texto do cabeçalho e do botão de contato */
header nav li a,
.contact-button a {
    color: #ecf0f1;
    text-decoration: none;
}

/* Exibição flexível do cabeçalho e da seção de impacto*/
header #header-container,
main #impact-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Exibição flexível do contêiner do menu de navegação e centraliza*/
.nav-container {
    display: flex;
    align-items: center;
}

/* Estilo de cada item de navegação no cabeçalho */
header nav li {
    display: inline;
    margin-left: 1.6rem;
    font-size: 1.5rem;
    font-weight: 800;
}

/* Cor do texto do item de navegação quando o usuário passa o mouse sobre ele */
header nav li a:hover {
    color: #b6b8c4;
}

/* Estilo do botão de contato */
.contact-button a {
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    font-weight: 1000;
    margin-left: 3rem;
    width: 20.5rem;
    height: 3.65rem;
    line-height: 2.64rem;
    color: #27c470;
    font-size: 1.42rem;
    display: flex;
    border: 0.2rem solid #27c470;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
}

/* Estilo do botão de contato quando o usuário passa o mouse sobre ele */
.contact-button a:hover {
    background-color: #27c470;
    color: #fff;
}

/* Estilo da seção de impacto */
main #impact-main {
    /* Define a imagem de fundo da seção principal e seu tamanho e posição */
    background-image: url('images/main-3.jpg');
    background-size: cover;
    background-position: center;
    height: 88.3vh;
    align-items: center;
    justify-content: left;
}

/* Estilo do texto na seção de impacto */
.impact-main-text {
    font-family: 'Red Hat Display', sans-serif;
    width: 90vw;
    max-width: 60rem;
    padding: 2rem;
    text-shadow: 0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 0.2);
    color: black;
    margin-left: 4rem;
}

/* Estilo do texto na seção de impacto, foi necessário adicioanr para modificar o negrito */
#impact-main-text-phase {
    font-size: 4.5rem;
    font-weight: 400;
    /* font-family: 'Roboto', sans-serif; */
}

/* Estilo do texto na seção de impacto para destacar o "Dedicated Team */
.impact-main-text-phase-team {
    font-weight: bolder;
    color: #27c470;
    text-shadow: 0.2rem 0.2rem 0.05rem rgba(0, 0, 0, 0.5);
}

/* Estilo do texto na seção de impacto para destacar o "desired Software */
.impact-main-text-phase-desired {
    font-weight: bolder;
    color: #2697b3;
}

/* Estilo para os our services */
#services {
    height: 100vh;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12rem;
}

.icon-services a img {
    height: 16vh;
    /* margin-bottom: 0.8rem; */
}

.services {
    width: 32%;
    padding: 1.625rem;
    margin-bottom: 2.4rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.services:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
}

.section-title {
    text-align: center;
    padding: 1.625rem 0;
    margin: 1.625rem;
    color: #182c61;
    font-weight: 800;
    font-size: 3.2rem;
}

.title-services {
    font-size: 1.8rem;
    padding: 1.625rem 0;
}

.explaine-services {
    /* margin-top: 1.2rem; */
    font-size: 1.4rem;
    width: auto;
}

/* button */
/* button */

#main-contact-button {
    background-color: #27c470;
    border: none;
    transition: transform 0.3s ease-in-out;
    margin: 0rem 0 4rem 0;
    align-items: center;
    font-size: 2rem;
    width: 23vw;
    height: 4rem;
    color: #fff;
}

#main-contact-button:hover {
    transform: translateY(-5px);
}

#we-can-help-you {
    justify-content: space-between;
    margin-left: 38.35%;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}